<p id="notice"><%= notice %></p>

<h1>Nationalities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payloads.each do |nationality| %>
      <tr>
        <td><%= nationality["nationality"] %></td>
        <td>
          <%= link_to 'payloads', payloads_path(nationality: nationality["nationality"]) %>
        </td>
        <td>
          <%= link_to 'missions', missions_path(nationality: nationality["nationality"]) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>