<p id="notice"><%= notice %></p>

<h1>Payloads</h1>

<table>
  <thead>
    <tr>
      <th>Payload id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payloads.each do |payload| %>
      <tr>
        <td><%= payload["payload_id"] %></td>
        <td>
          <%= link_to 'back', nationality_path %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>